In [2]:
from psrqpy import QueryATNF
import numpy as np 


psr_names = ["B0531+21"]
selected_cols = ['Name','JNAME', 'RAJD', 'DECJD','F0','F1','Dist']
query = QueryATNF(params=selected_cols, psrs=psr_names)
df=query.pandas #make it a df

#Define two extra cols, positions in radians
df["dec_radians"] = np.deg2rad(df['DECJD'])
df["ra_radians"] = np.deg2rad(df['RAJD'])

#check we have the number of pulsars we expect
assert len(df) == len(psr_names)

In [3]:
df

,NAME,DECJD_ERR,F1_ERR,JNAME,F0,DIST,F1,F0_ERR,RAJD,DECJD,RAJD_ERR,dec_radians,ra_radians
0,J0534+2200,0.000017,2.000000e-15,J0534+2200,29.946923,2.0,-3.775350e-10,0.000001,83.633221,22.014461,0.000021,0.384225,1.459675

In [4]:
df["F0"]*2

0    59.893846
Name: F0, dtype: float64